<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<integer>360</integer>
	<key>angleVariance</key>
	<integer>360</integer>
	<key>blendFuncDestination</key>
	<string>1</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<integer>-1</integer>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>0.84999999999999998</real>
	<key>finishColorBlue</key>
	<integer>0</integer>
	<key>finishColorGreen</key>
	<integer>0</integer>
	<key>finishColorRed</key>
	<integer>0</integer>
	<key>finishColorVarianceAlpha</key>
	<integer>0</integer>
	<key>finishColorVarianceBlue</key>
	<integer>0</integer>
	<key>finishColorVarianceGreen</key>
	<integer>0</integer>
	<key>finishColorVarianceRed</key>
	<integer>0</integer>
	<key>finishParticleSize</key>
	<integer>60</integer>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<string>-3000.00</string>
	<key>gravityy</key>
	<string>21.60</string>
	<key>maxParticles</key>
	<string>193.70</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<integer>0</integer>
	<key>particleLifespanVariance</key>
	<string>0.54</string>
	<key>radialAccelVariance</key>
	<integer>0</integer>
	<key>radialAcceleration</key>
	<integer>0</integer>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>sourcePositionVariancex</key>
	<integer>0</integer>
	<key>sourcePositionVariancey</key>
	<integer>0</integer>
	<key>sourcePositionx</key>
	<string>157.760</string>
	<key>sourcePositiony</key>
	<string>364.640</string>
	<key>speed</key>
	<string>5.00</string>
	<key>speedVariance</key>
	<string>22.44</string>
	<key>startColorAlpha</key>
	<string>1</string>
	<key>startColorBlue</key>
	<real>0.35999999999999999</real>
	<key>startColorGreen</key>
	<real>0.56000000000000005</real>
	<key>startColorRed</key>
	<real>0.89000000000000001</real>
	<key>startColorVarianceAlpha</key>
	<real>0.5</real>
	<key>startColorVarianceBlue</key>
	<real>0.20000000000000001</real>
	<key>startColorVarianceGreen</key>
	<real>0.20000000000000001</real>
	<key>startColorVarianceRed</key>
	<real>0.20000000000000001</real>
	<key>startParticleSize</key>
	<integer>10</integer>
	<key>startParticleSizeVariance</key>
	<integer>0</integer>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<integer>0</integer>
	<key>textureFileName</key>
	<string>snow.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
